<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-transparent card-block card-stretch card-height border-none">
                <div class="card-body p-0 mt-lg-2 mt-0">
                    <h3 class="mb-3">Sales Report</h3>
                    <p class="mb-0 mr-4">Views of sales performance and business processes.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card card-block card-stretch card-height print rounded">
                <div class="card-header d-flex justify-content-between bg-primary header-invoice">
                    <div class="iq-header-title">
                        <!-- <h4 class="card-title mb-0">Sales Analysis</h4> -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="col">
                        <div class="row mb-3">
                            <div class="col-lg-6 col-md-6 mt-4 mb-3">
                                <div class="or-detail rounded">
                                    <div class="p-3">
                                        <h5 class="mb-3">Lifetime</h5>
                                        <hr>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <h6>Total Gross Revenue</h6>
                                            </div>
                                            <div class="col">
                                                <p style="color: green">RM {{ .LifetimeVsr.TotalGrossRevenue }}</p>
                                            </div>
                                            <!-- <div class="col"><p style="color: green">RM 6, 717.05</p></div> -->
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <h6>Total Expenses</h6>
                                            </div>
                                            <div class="col">
                                                <p style="color: orangered;">RM {{ .LifetimeVsr.TotalExpenses }}</p>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <h6>Total Net Revenue</h6>
                                            </div>
                                            <div class="col">
                                                <p>RM {{ .LifetimeVsr.TotalNetRevenue }}</p>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <h6>Income Tax</h6>
                                            </div>
                                            <div class="col">
                                                <p style="color: orangered;">RM {{ .LifetimeVsr.IncomeTax }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6>Grant/Loan</h6>
                                            </div>
                                            <div class="col">
                                                <p style="color: green">RM {{ .LifetimeVsr.GrantLoan }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ttl-amt py-2 px-3 d-flex justify-content-between align-items-center">
                                        <h6>Profit/Loss</h6>
                                        <h3 style="color: green" class="font-weight-700">RM {{ .LifetimeVsr.ProfitLoss
                                            }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mt-4 mb-3">
                                <div class="or-detail rounded">
                                    <div class="p-3">
                                        <h5 class="mb-3">Periodic</h5>
                                        <hr>
                                        <form action="/main/sales-report/update-periodic/" method="post" novalidate>
                                            <div class="row mb-2">
                                                <div class="col form-group">
                                                    <label style="font-size: smaller;">Start Date</label>
                                                    <input type="datetime-local" class="form-control" id="periodic_sd"
                                                        name="periodic_sd">
                                                </div>
                                                <div class="col form-group">
                                                    <label style="font-size: smaller;">End Date</label>
                                                    <input type="datetime-local" class="form-control" id="periodic_ed"
                                                        name="periodic_ed">
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col form-group">
                                                    <button type="submit"
                                                        class="btn btn-primary btn-block">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                        <hr>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <h6>Total Gross Revenue</h6>
                                            </div>
                                            <div class="col">
                                                <p style="color: green">RM {{ .PeriodicVsr.TotalGrossRevenue }}</p>
                                            </div>
                                            <!-- <div class="col"><p style="color: green">RM 6, 717.05</p></div> -->
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <h6>Total Expenses</h6>
                                            </div>
                                            <div class="col">
                                                <p style="color: orangered;">RM {{ .PeriodicVsr.TotalExpenses }}</p>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <h6>Total Net Revenue</h6>
                                            </div>
                                            <div class="col">
                                                <p>RM {{ .PeriodicVsr.TotalNetRevenue }}</p>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <h6>Income Tax</h6>
                                            </div>
                                            <div class="col">
                                                <p style="color: orangered;">RM {{ .PeriodicVsr.IncomeTax }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6>Grant/Loan</h6>
                                            </div>
                                            <div class="col">
                                                <p style="color: green">RM {{ .PeriodicVsr.GrantLoan }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ttl-amt py-2 px-3 d-flex justify-content-between align-items-center">
                                        <h6>Profit/Loss</h6>
                                        <h3 style="color: green" class="font-weight-700">RM {{ .PeriodicVsr.ProfitLoss
                                            }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <b class="text-danger">Note:</b>
                                <p class="mb-0">Total cost is averaged out from real business scenario and hardcoded,
                                    since i havent written the expenses modules yet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Income vs Expenses</h4>
                    </div>
                    <div class="card-header-toolbar d-flex align-items-center">
                        <div class="dropdown">
                            <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton005"
                                data-toggle="dropdown">
                                This Month<i class="ri-arrow-down-s-line ml-1"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right shadow-none"
                                aria-labelledby="dropdownMenuButton005">
                                <a class="dropdown-item" href="#">Year</a>
                                <a class="dropdown-item" href="#">Month</a>
                                <a class="dropdown-item" href="#">Week</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-2">
                    <div class="d-flex flex-wrap align-items-center mt-2">
                        <div class="d-flex align-items-center progress-order-left">
                            <div class="progress progress-round m-0 orange conversation-bar" data-percent="46">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value text-secondary">46%</div>
                            </div>
                            <div class="progress-value ml-3 pr-5 border-right">
                                <h5>$12,6598</h5>
                                <p class="mb-0">Average Orders</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center ml-5 progress-order-right">
                            <div class="progress progress-round m-0 primary conversation-bar" data-percent="46">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value text-primary">46%</div>
                            </div>
                            <div class="progress-value ml-3">
                                <h5>$59,8478</h5>
                                <p class="mb-0">Top Orders</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div id="layout1-chart-5"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-block card-stretch card-height-helf">
                <div class="card-body">
                    <div class="d-flex align-items-top justify-content-between">
                        <div class="">
                            <p class="mb-0">Income</p>
                            <h5>$ 98,7800 K</h5>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton003"
                                    data-toggle="dropdown">
                                    This Month<i class="ri-arrow-down-s-line ml-1"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton003">
                                    <a class="dropdown-item" href="#">Year</a>
                                    <a class="dropdown-item" href="#">Month</a>
                                    <a class="dropdown-item" href="#">Week</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="layout1-chart-3" class="layout-chart-1"></div>
                </div>
            </div>
            <div class="card card-block card-stretch card-height-helf">
                <div class="card-body">
                    <div class="d-flex align-items-top justify-content-between">
                        <div class="">
                            <p class="mb-0">Expenses</p>
                            <h5>$ 45,8956 K</h5>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton004"
                                    data-toggle="dropdown">
                                    This Month<i class="ri-arrow-down-s-line ml-1"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right shadow-none"
                                    aria-labelledby="dropdownMenuButton004">
                                    <a class="dropdown-item" href="#">Year</a>
                                    <a class="dropdown-item" href="#">Month</a>
                                    <a class="dropdown-item" href="#">Week</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="layout1-chart-4" class="layout-chart-2"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Net revenue vs Gross revenue vs Free cash flow</h4>
                    </div>
                    <div class="card-header-toolbar d-flex align-items-center">
                        <div class="dropdown">
                            <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton005"
                                data-toggle="dropdown">
                                This Month<i class="ri-arrow-down-s-line ml-1"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right shadow-none"
                                aria-labelledby="dropdownMenuButton005">
                                <a class="dropdown-item" href="#">Year</a>
                                <a class="dropdown-item" href="#">Month</a>
                                <a class="dropdown-item" href="#">Week</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div id="apex-column"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Product trend by month</h4>
                    </div>
                    <div class="card-header-toolbar d-flex align-items-center">
                        <div class="dropdown">
                            <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton005"
                                data-toggle="dropdown">
                                This Month<i class="ri-arrow-down-s-line ml-1"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right shadow-none"
                                aria-labelledby="dropdownMenuButton005">
                                <a class="dropdown-item" href="#">Year</a>
                                <a class="dropdown-item" href="#">Month</a>
                                <a class="dropdown-item" href="#">Week</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div id="apex-basic"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Product movement by last active subsequent operation hours</h4>
                    </div>
                    <div class="card-header-toolbar d-flex align-items-center">
                        <div class="dropdown">
                            <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton005"
                                data-toggle="dropdown">
                                This Month<i class="ri-arrow-down-s-line ml-1"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right shadow-none"
                                aria-labelledby="dropdownMenuButton005">
                                <a class="dropdown-item" href="#">Year</a>
                                <a class="dropdown-item" href="#">Month</a>
                                <a class="dropdown-item" href="#">Week</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div id="apex-line-area"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Fruit consumption trend by month</h4>
                    </div>
                    <div class="card-header-toolbar d-flex align-items-center">
                        <div class="dropdown">
                            <span class="dropdown-toggle dropdown-bg btn" id="dropdownMenuButton005"
                                data-toggle="dropdown">
                                This Month<i class="ri-arrow-down-s-line ml-1"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right shadow-none"
                                aria-labelledby="dropdownMenuButton005">
                                <a class="dropdown-item" href="#">Year</a>
                                <a class="dropdown-item" href="#">Month</a>
                                <a class="dropdown-item" href="#">Week</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div id="high-area-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>


{{define "js"}}


{{end}}